header {
  text-align: center;
}

.movie-title-div {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.movie-title {
  border: solid blue;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
}

.watch {
  margin-left: 20px;
}

.watched-movie {
  color: white;
  background-color: black;
}

.unwatched-movie {
  background-color: white;
  color:violet
}

.search-bar-div {
  text-align: center;
}

.seperator {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-movie-button {
  background-color: chartreuse;
  margin-left: 20px;
}

.search-button {
  color: white;
  background-color: darkblue;
  margin-left: 20px;
}

.add-movie-div {
  text-align: center;
}

.no-match {
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}

.filter {
  text-align: center;
  margin: 15px;
  margin-top: 20px;
  padding: 20px;
  font-weight: bold;
}

.filter-buttons {
  text-align: center;
}

